pyparsing<3.0.0  # pin for aodhclient which is held for py35
aiounittest
async_generator
kubernetes<18.0.0; python_version < '3.6' # pined, as juju uses kubernetes
juju
juju_wait
PyYAML>=3.0
flake8>=2.2.4
flake8-docstrings
flake8-per-file-ignores
pydocstyle<4.0.0
coverage
mock>=1.2
# For some reason the PyPi distributed wheel of nose differ from the one on
# GitHub, and it does not work with Python 3.10.
nose>=1.3.7;python_version<'3.10'
git+https://github.com/nose-devs/nose.git#egg=nose;python_version=='3.10'
pbr==5.6.0
simplejson>=2.2.0
netifaces>=0.10.4
netaddr>=0.7.12,!=0.7.16
Jinja2>=2.6  # BSD License (3 clause)
six>=1.9.0
dnspython>=1.12.0
psutil>=1.1.1,<2.0.0
oslo.config<6.9.0;python_version < '3.6'  # pin for py3.5 support
oslo.context<3.0.0;python_version < '3.6'  # pin for py3.5 support
osprofiler<3.0.0;python_version < '3.6'  # pin for py3.5 support
python-openstackclient>=3.14.0
aodhclient
python-designateclient
python-ceilometerclient
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-octaviaclient
python-swiftclient
tenacity
paramiko
python-libmaas
requests<2.26  # pin for py3.5 support
# Documentation requirements
sphinx
sphinxcontrib-asyncio
