aiounittest
async_generator
juju
juju_wait
PyYAML>=3.0
flake8>=2.2.4
flake8-docstrings
flake8-per-file-ignores
pydocstyle<4.0.0
coverage
mock>=1.2
nose>=1.3.7
pbr>=1.8.0,<1.9.0
simplejson>=2.2.0
netifaces>=0.10.4
netaddr>=0.7.12,!=0.7.16
Jinja2>=2.6  # BSD License (3 clause)
six>=1.9.0
dnspython>=1.12.0
psutil>=1.1.1,<2.0.0
python-openstackclient>=3.14.0
aodhclient
python-designateclient
python-ceilometerclient
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-neutronclient
python-novaclient
python-octaviaclient
python-swiftclient
tenacity
distro-info
paramiko
# Documentation requirements
sphinx
sphinxcontrib-asyncio
