aiounittest
flake8>=5  # Python 3.8 compatibility in pyflakes 2.1.0+
flake8-docstrings
flake8-per-file-ignores
pydocstyle<4.0.0
coverage
mock>=1.2
pytest
pytest-cov
pytest-asyncio

# TODO: these requirements should be mocked out in unit_tests/__init__.py
async_generator
jinja2
keystoneauth1
oslo.config
python-novaclient
tenacity>8.2.0
# To force the installation of an specific version of libjuju use a constraints
# file, e.g.: `env PIP_CONSTRAINTS=./constraints-juju31.txt tox -e func-target`
juju
# https://github.com/go-macaroon-bakery/py-macaroon-bakery/issues/94
macaroonbakery!=1.3.3
