aiounittest
flake8>=5  # Python 3.8 compatibility in pyflakes 2.1.0+
flake8-docstrings
flake8-per-file-ignores
pydocstyle<4.0.0
coverage
mock>=1.2
pytest
pytest-cov
pytest-asyncio

# TODO: these requirements should be mocked out in unit_tests/__init__.py
async_generator
jinja2
keystoneauth1
oslo.config
python-novaclient
tenacity
# pinned until 3.0 regressions are handled: https://github.com/openstack-charmers/zaza/issues/545
juju<3.0
